body {
    padding: 0;
    margin: 0;
}

.logo{

    flex: none;
    display: block;
    width: 66px;
    height: 30px;
    font-size: 16px;
}

.logo img{
    max-width: 100%;
}



.header-wrapper .fixed-header{

    height: 60px;

    background: #fff;
    border-bottom: 1px solid #ececec;

}

.header-wrapper .common-header{
    display: flex;
    align-items: center;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 28px 0 44px;
    box-sizing: border-box;

}

.header-wrapper .search-wrapper{
    width: 508px;
    font-size: 16px;
    position: relative;
}

.header-wrapper .header_nav-list{
    display: flex;
    margin-left: auto;
}

.header_nav-item {
    margin-left: 20px;
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .4px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.header-wrapper .header .add-hover-line:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 2px;
    background: #f85f48;
    opacity: 0;
    transition: opacity .3s;
}