body {
    padding: 0;
    margin: 0;
}

div{
    display: block;
}

.logo{

    flex: none;
    display: block;
    width: 66px;
    height: 30px;
    font-size: 16px;
}

.logo img{
    max-width: 100%;
}



.header-wrapper .fixed-header{

    height: 60px;

    background: #fff;
    border-bottom: 1px solid #ececec;

}

.header-wrapper .common-header{
    display: flex;
    align-items: center;
    height: 60px;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 28px 0 44px;
    box-sizing: border-box;

}

.header-wrapper .search-wrapper{
    width: 805px;
    font-size: 16px;
    position: relative;
}

.header-wrapper .header_nav-list{
    display: flex;
    margin-left: auto;
}

.header_nav-item {
    margin-left: 20px;
    width: 80px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .4px;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.header-wrapper .add-hover-line{
    position: relative;
}

.header-wrapper .add-hover-line:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 14px;
    width: 100%;
    height: 2px;
    background: #f85f48;
    opacity: 1;
    transition: opacity .3s;
}

.header-wrapper .qr{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;


}

.header-wrapper .qr-text{
    display: block;
    width: 80px;
    height: 52px;
    text-align: center;
    line-height: 52px;
}

.header-wrapper .qrcode-group{
    display: none;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -150px;
    padding: 20px 20px 12px;
    width: 300px;
    height: 180px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 7px 24px 0 rgb(0 0 0 / 6%);
}

.header-wrapper .qrcode-group .qrcode-item{
    width: 120px;

}

.header-wrapper .qrcode-group .qrcode-item img{
    display: block;
    width: 120px;
    height: 120px;
}
.header-wrapper .qrcode-group .qrcode-item p{
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: .4px;
    font-weight: 300;

}

/*
############### index-header ###############
*/

.header-wrapper .index-header{
    position: relative;
    margin: 0 auto;
    padding: 60px 0;
    background: #fafafa;
    width: 1068px;
}

.header-wrapper .index-header .slogan{
    line-height: 84px;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 4px;
    color: #333;
}
.header-wrapper .index-header .slogan .red{
    color: red;
}
.header-wrapper .index-header .search-wrapper{
    margin-top: 20px;
    width: 805px;
    font-size: 16px;
    position: relative;
    transition: opacity .3s;
    transform: translateY(0);
    opacity: 1;
}
.header-wrapper .index-header .placeholder .label{
    flex: none;
    height: 22px;
    font-weight: 300;
    letter-spacing: .6px;
    color: #999999;
}
.header-wrapper .index-header .search-wrapper .el-input{
    position: relative;
    font-size: 14px;
    display: inline-block;
    width: 100%;

}
.header-wrapper .index-header .el-input__inner{
    height: 80px;
    line-height: 1.5px;
    background: #fff;
    box-shadow: 0 7px 24px 0 rgb(0 0 0 / 6%);
    font-size: 14px;

}

.el-autocomplete{
    width: 100%;
}

.header-wrapper .index-header .icon-search{
    width: 80px;
    height: 80px;
    background-image: url("https://ff-static.zaih.cn/falcon-web/img/edbbb6f.png");

}
